In [4]:
#** Import Libraries:
import pandas as pd
import numpy as np
import datetime

In [6]:
#* Data source: https://github.com/whoismurilo/covid_19/blob/main/caso.csv.gz
from google.colab import files
files.upload()

Saving caso.csv.gz to caso.csv (1).gz

In [7]:
#* Create variable containing data reading
data = pd.read_csv("caso.csv (1).gz")

In [8]:
# View data:
data

               date state  ... confirmed_per_100k_inhabitants death_rate
0        2020-11-21    AC  ...                     3849.76578     0.0207
1        2020-11-20    AC  ...                     3828.63595     0.0208
2        2020-11-19    AC  ...                     3798.45048     0.0209
3        2020-11-18    AC  ...                     3770.38917     0.0210
4        2020-11-17    AC  ...                     3742.43966     0.0212
...             ...   ...  ...                            ...        ...
1018066  2020-06-23    SP  ...                       40.46945     0.0000
1018067  2020-06-22    SP  ...                       40.46945     0.0000
1018068  2020-06-21    SP  ...                       40.46945     0.0000
1018069  2020-06-20    SP  ...                       40.46945     0.0000
1018070  2020-06-19    SP  ...                       40.46945     0.0000

[1018071 rows x 13 columns]

In [9]:
# view first table data
data.head()

         date state  ... confirmed_per_100k_inhabitants death_rate
0  2020-11-21    AC  ...                     3849.76578     0.0207
1  2020-11-20    AC  ...                     3828.63595     0.0208
2  2020-11-19    AC  ...                     3798.45048     0.0209
3  2020-11-18    AC  ...                     3770.38917     0.0210
4  2020-11-17    AC  ...                     3742.43966     0.0212

[5 rows x 13 columns]

In [10]:
# Information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018071 entries, 0 to 1018070
Data columns (total 13 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   date                            1018071 non-null  object
 1   state                           1018071 non-null  object
 2   city                            1011312 non-null  object
 3   place_type                      1018071 non-null  object
 4   confirmed                       1018071 non-null  int64
 5   deaths                          1018071 non-null  int64
 6   order_for_place                 1018071 non-null  int64
 7   is_last                         1018071 non-null  bool
 8   estimated_population_2019       1014151 non-null  float64
 9   estimated_population            1014151 non-null  float64
 10  city_ibge_code                  1014151 non-null  float64
 11  confirmed_per_100k_inhabitants  1000493 non-null  float64
 12  death_rate                      1018071 non-null  float64
dtypes: bool(1), float64(5), int64(3), object(4)
memory usage: 94.2+ MB

In [11]:
# Information the row and columns
data.shape

(1018071, 13)

In [12]:
# Description in numeric values
data.describe()

          confirmed        deaths  ...  confirmed_per_100k_inhabitants    death_rate
count  1.018071e+06  1.018071e+06  ...                    1.000493e+06  1.018071e+06
mean   1.141846e+03  3.671811e+01  ...                    1.118852e+03  3.491092e-02
std    1.416333e+04  5.274423e+02  ...                    1.424853e+03  9.046850e-02
min    0.000000e+00  0.000000e+00  ...                    2.160000e-03  0.000000e+00
25%    1.300000e+01  0.000000e+00  ...                    1.364866e+02  0.000000e+00
50%    6.500000e+01  1.000000e+00  ...                    6.339597e+02  1.520000e-02
75%    2.760000e+02  6.000000e+00  ...                    1.578601e+03  3.450000e-02
max    1.205435e+06  4.125600e+04  ...                    2.292315e+04  1.000000e+00

[8 rows x 8 columns]

In [13]:
# inversion row of columns
data.describe().transpose()

                                    count  ...           max
confirmed                       1018071.0  ...  1.205435e+06
deaths                          1018071.0  ...  4.125600e+04
order_for_place                 1018071.0  ...  2.650000e+02
estimated_population_2019       1014151.0  ...  4.591905e+07
estimated_population            1014151.0  ...  4.628933e+07
city_ibge_code                  1014151.0  ...  5.300108e+06
confirmed_per_100k_inhabitants  1000493.0  ...  2.292315e+04
death_rate                      1018071.0  ...  1.000000e+00

[8 rows x 8 columns]

In [14]:
# transform the data column from object type to date type
data['date'] = pd.to_datetime(data['date'])

In [15]:
data.head()

        date state  ... confirmed_per_100k_inhabitants death_rate
0 2020-11-21    AC  ...                     3849.76578     0.0207
1 2020-11-20    AC  ...                     3828.63595     0.0208
2 2020-11-19    AC  ...                     3798.45048     0.0209
3 2020-11-18    AC  ...                     3770.38917     0.0210
4 2020-11-17    AC  ...                     3742.43966     0.0212

[5 rows x 13 columns]

In [16]:
# View column modified
data['date']

0         2020-11-21
1         2020-11-20
2         2020-11-19
3         2020-11-18
4         2020-11-17
             ...
1018066   2020-06-23
1018067   2020-06-22
1018068   2020-06-21
1018069   2020-06-20
1018070   2020-06-19
Name: date, Length: 1018071, dtype: datetime64[ns]

In [17]:
# Verify information to column
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018071 entries, 0 to 1018070
Data columns (total 13 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   date                            1018071 non-null  datetime64[ns]
 1   state                           1018071 non-null  object
 2   city                            1011312 non-null  object
 3   place_type                      1018071 non-null  object
 4   confirmed                       1018071 non-null  int64
 5   deaths                          1018071 non-null  int64
 6   order_for_place                 1018071 non-null  int64
 7   is_last                         1018071 non-null  bool
 8   estimated_population_2019       1014151 non-null  float64
 9   estimated_population            1014151 non-null  float64
 10  city_ibge_code                  1014151 non-null  float64
 11  confirmed_per_100k_inhabitants  1000493 non-null  float64
 12  death_rate                      1018071 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(5), int64(3), object(3)
memory usage: 94.2+ MB

In [20]:
# transform data into your language
data.rename(
    columns = {'date': 'data',
               'state': 'estado',
               'city': 'cidade',
               'place_type': 'tipo_lugar',
               'confirmed': 'confirmado',
               'deaths': 'mortes',
               'order_for_place': 'ordem_local',
               'is_last': 'ultimo',
               'estimated_population_2019': 'populacao_2019',
               'estimated_population': 'populacao',
               'city_ibge_code': 'cod_ibge',
               'confirmed_per_100k_inhabitants': 'confirmados_100k',
               'death_rate': 'indice_morte'},
            inplace=True
)

In [21]:
# column names changed
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018071 entries, 0 to 1018070
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   data              1018071 non-null  datetime64[ns]
 1   estado            1018071 non-null  object
 2   cidade            1011312 non-null  object
 3   tipo_lugar        1018071 non-null  object
 4   confirmado        1018071 non-null  int64
 5   mortes            1018071 non-null  int64
 6   ordem_local       1018071 non-null  int64
 7   ultimo            1018071 non-null  bool
 8   populacao_2019    1014151 non-null  float64
 9   populacao         1014151 non-null  float64
 10  cod_ibge          1014151 non-null  float64
 11  confirmados_100k  1000493 non-null  float64
 12  indice_morte      1018071 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(5), int64(3), object(3)
memory usage: 94.2+ MB

In [23]:
# verify duplicate data
duplicate_data = data[data.duplicated()]
print(f'Duplicate Lines: {duplicate_data.shape}')

Duplicate Lines: (0, 13)

In [25]:
# verify value null
data.isnull().values.any()

True

In [26]:
# sums of columns showing null values
data.isnull().sum()

data                    0
estado                  0
cidade               6759
tipo_lugar              0
confirmado              0
mortes                  0
ordem_local             0
ultimo                  0
populacao_2019       3920
populacao            3920
cod_ibge             3920
confirmados_100k    17578
indice_morte            0
dtype: int64

In [27]:
# Correcting the null values
data.dropna(subset= ['cidade'], inplace=True)

In [28]:
# Check alteration
data['cidade'].isnull().sum()

0

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1011312 entries, 250 to 1018070
Data columns (total 13 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   data              1011312 non-null  datetime64[ns]
 1   estado            1011312 non-null  object
 2   cidade            1011312 non-null  object
 3   tipo_lugar        1011312 non-null  object
 4   confirmado        1011312 non-null  int64
 5   mortes            1011312 non-null  int64
 6   ordem_local       1011312 non-null  int64
 7   ultimo            1011312 non-null  bool
 8   populacao_2019    1007392 non-null  float64
 9   populacao         1007392 non-null  float64
 10  cod_ibge          1007392 non-null  float64
 11  confirmados_100k  993740 non-null   float64
 12  indice_morte      1011312 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(5), int64(3), object(3)
memory usage: 101.3+ MB

In [30]:
data['populacao_2019'].describe()

count    1.007392e+06
mean     4.504613e+04
std      2.560915e+05
min      7.810000e+02
25%      6.054000e+03
50%      1.335700e+04
75%      2.913200e+04
max      1.225202e+07
Name: populacao_2019, dtype: float64

In [33]:
# fill in the empty values
data['populacao_2019'].fillna(data['populacao_2019'].mean(), inplace=True)

In [35]:
data.isnull().sum()

data                    0
estado                  0
cidade                  0
tipo_lugar              0
confirmado              0
mortes                  0
ordem_local             0
ultimo                  0
populacao_2019          0
populacao            3920
cod_ibge             3920
confirmados_100k    17572
indice_morte            0
dtype: int64

In [37]:
# fill in the empty values
data['populacao'].fillna(data['populacao'].mean(), inplace=True)
data['cod_ibge'].fillna(data['cod_ibge'].mean(), inplace=True)

In [38]:
data.isnull().sum()

data                    0
estado                  0
cidade                  0
tipo_lugar              0
confirmado              0
mortes                  0
ordem_local             0
ultimo                  0
populacao_2019          0
populacao               0
cod_ibge                0
confirmados_100k    17572
indice_morte            0
dtype: int64

In [39]:
# eliminate unnecessary column
data.drop("cod_ibge", axis= "columns", inplace=True)

In [40]:
data.isnull().sum()

data                    0
estado                  0
cidade                  0
tipo_lugar              0
confirmado              0
mortes                  0
ordem_local             0
ultimo                  0
populacao_2019          0
populacao               0
confirmados_100k    17572
indice_morte            0
dtype: int64

In [41]:
data['confirmados_100k'].fillna(data['confirmados_100k'].mean(), inplace=True)

In [42]:
# clean dataset of null data
data.isnull().sum()

data                0
estado              0
cidade              0
tipo_lugar          0
confirmado          0
mortes              0
ordem_local         0
ultimo              0
populacao_2019      0
populacao           0
confirmados_100k    0
indice_morte        0
dtype: int64

In [43]:
# Data organized
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1011312 entries, 250 to 1018070
Data columns (total 12 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   data              1011312 non-null  datetime64[ns]
 1   estado            1011312 non-null  object
 2   cidade            1011312 non-null  object
 3   tipo_lugar        1011312 non-null  object
 4   confirmado        1011312 non-null  int64
 5   mortes            1011312 non-null  int64
 6   ordem_local       1011312 non-null  int64
 7   ultimo            1011312 non-null  bool
 8   populacao_2019    1011312 non-null  float64
 9   populacao         1011312 non-null  float64
 10  confirmados_100k  1011312 non-null  float64
 11  indice_morte      1011312 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 93.6+ MB

In [45]:
# separating data to work
dice = data.groupby('estado')['cidade'].count()
dice

estado
AC      4343
AL     20691
AM     13302
AP      3307
BA     79429
CE     39197
DF       498
ES     12988
GO     44284
MA     44086
MG    138366
MS     14309
MT     11897
PA     29822
PB     41521
PE     38400
PI     41516
PR     72527
RJ     19340
RN     27123
RO      9303
RR      3064
RS     87466
SC     57972
SE     14021
SP    121104
TO     21436
Name: cidade, dtype: int64

In [47]:
# Separate state that I want to work
dice_sp = data[data['estado'] == 'SP']
dice_sp

              data estado  ... confirmados_100k indice_morte
896967  2020-11-19     SP  ...       1412.66270       0.0262
896968  2020-11-18     SP  ...       1404.11837       0.0264
896969  2020-11-17     SP  ...       1404.11837       0.0264
896970  2020-11-16     SP  ...       1367.09293       0.0271
896971  2020-11-15     SP  ...       1367.09293       0.0271
...            ...    ...  ...              ...          ...
1018066 2020-06-23     SP  ...         40.46945       0.0000
1018067 2020-06-22     SP  ...         40.46945       0.0000
1018068 2020-06-21     SP  ...         40.46945       0.0000
1018069 2020-06-20     SP  ...         40.46945       0.0000
1018070 2020-06-19     SP  ...         40.46945       0.0000

[121104 rows x 12 columns]

In [48]:
dice_sp.head()

             data estado      cidade  ... populacao  confirmados_100k  indice_morte
896967 2020-11-19     SP  Adamantina  ...   35111.0        1412.66270        0.0262
896968 2020-11-18     SP  Adamantina  ...   35111.0        1404.11837        0.0264
896969 2020-11-17     SP  Adamantina  ...   35111.0        1404.11837        0.0264
896970 2020-11-16     SP  Adamantina  ...   35111.0        1367.09293        0.0271
896971 2020-11-15     SP  Adamantina  ...   35111.0        1367.09293        0.0271

[5 rows x 12 columns]

In [49]:
# export for csv file
dice_sp.to_csv('Data_covid-19_SP.csv')

Ready Data